<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Emaratech.Services.Api.Client" version="1.0.13" targetFramework="net461" />
  <package id="Emaratech.Services.Application" version="1.0.306" targetFramework="net461" />
  <package id="Emaratech.Services.Common" version="1.0.15" targetFramework="net461" />
  <package id="Emaratech.Services.Common.Configuration" version="1.0.3" targetFramework="net461" />
  <package id="Emaratech.Services.Email" version="1.0.53" targetFramework="net461" />
  <package id="Emaratech.Services.Lookups" version="1.0.80" targetFramework="net461" />
  <package id="Emaratech.Services.Security.KeyVault" version="1.0.33" targetFramework="net461" />
  <package id="Emaratech.Services.Systems" version="1.0.80" targetFramework="net461" />
  <package id="Emaratech.Services.Systems.Properties" version="1.0.94" targetFramework="net461" />
  <package id="Emaratech.Services.Template" version="1.0.30" targetFramework="net461" />
  <package id="Emaratech.Services.Vision" version="1.0.282" targetFramework="net461" />
  <package id="Emaratech.Services.WcfCommons.Faults" version="1.0.23" targetFramework="net461" />
  <package id="Emaratech.Utilities" version="1.0.8" targetFramework="net461" />
  <package id="ImpromptuInterface" version="6.2.2" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="SwaggerWcf" version="1.0.9" targetFramework="net461" />
</packages>