<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net461" />
  <package id="Emaratech.Services.Ado" version="2.0.0" targetFramework="net461" />
  <package id="Emaratech.Services.Common" version="1.0.7" targetFramework="net461" />
  <package id="Emaratech.Services.Logging.Contracts" version="1.0.1" targetFramework="net461" />
  <package id="Emaratech.Services.WcfCommons" version="1.0.32" targetFramework="net461" />
  <package id="Emaratech.Utilities" version="1.0.1" targetFramework="net461" />
  <package id="ImpromptuInterface" version="6.2.2" targetFramework="net461" />
  <package id="log4net" version="2.0.5" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net461" />
  <package id="Ninject.Extensions.Wcf" version="3.2.2.0" targetFramework="net461" />
  <package id="Ninject.Web.Common" version="3.2.0.0" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="12.1.24160719" targetFramework="net461" />
  <package id="SwaggerWcf" version="1.0.9" targetFramework="net461" />
</packages>