<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="swaggerwcf" type="SwaggerWcf.Configuration.SwaggerWcfSection, SwaggerWcf" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <appSettings>
    <add key="AllowAnonymousAccess" value="false" />
    <add key="IsUsedEmiratesIdAllowed" value="false" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="SsoRedirectUri" value="http://qportal.ednrd.ae:7778/" />
    <add key="SsoValidationUri" value="http://qportal.ednrd.ae:7778/EAPSSO/SSOHeartBeat.jsp" />
    <!--Statuses-->
    <add key="StatusForDraftApplications" value="10,20,30" />
    <add key="ApplicationRefundStatuses" value="110,290,360,120,250,340" />
    <add key="WarrantyRefundStatuses" value="100,350" />
    <add key="RefundListStatuses" value="140,510,530,550,560" />
    <!--End Statuses-->
    <!--Visa Types-->
    <!--<add key="ShortTermVisaTypes" value="64,85" />
    <add key="LongTermVisaTypes" value="65,86" />
    <add key="ResidenceVisaTypes" value="3" />-->
    <!--End Visa Types-->
    <!--Mapping Matrix Ids-->
    <add key="FeeRefundMappingMatrix" value="783250A3AAB74BC593FDACEF3AD931CA" />
    <add key="FeeBeneficiaryMappingMatrix" value="394580B908DC4100A63EE6092482B452" />
    <!--End Mapping Matrix Ids-->
    <!--Services-->
    <add key="LegalAdviceService" value="296C48D82D274DDBB2883A6C5D12A866" />
    <add key="PassportNewService" value="B38DBB182DBE46FCB9047AFBB5E6D730" />
    <add key="PassportRenewService" value="365FC64DC8D8433D88B4D4FE445BD1C6" />
    <!--Services-->
    <!--Service Categories-->
    <add key="EntryPermitNewCategoryId" value="58F5CB451952496E809C997C5C574270" />
    <add key="TransfereResidencePassportCategoryId" value="4401980EF5AF42FEB1EE407A6F1BBAB3" />
    <!--End Service Categories-->
    <!--Systems-->
    <add key="SystemId" value="0E56E4FE722847BCBD4F2569E2C87E14" />
    <add key="UnifiedMobileSystemId" value="08867038D3934BCA804CD4074735B260" />
    <add key="UnifiedWebSystemId" value="D52589D60BF846D2BCE1BFFE5026B89F" />
    <!--Systems-->
    <!--<add key="ChannelApi" value="http://localhost/Channel/ChannelService.svc/json" />
    <add key="SystemApi" value="http://eap-dev/Systems/SystemsService.svc/json" />
    <add key="DocumentApi" value="http://eap-dev/Document/DocumentService.svc/json" />
    <add key="MappingMatrixApi" value="http://eap-dev/MappingMatrix/MappingMatrixService.svc/json" />
    <add key="ServiceApi" value="http://eap-dev/Services/ServicesService.svc/json" />
    <add key="WorkflowApi" value="http://localhost/emaratech.services.Workflows/WorkflowsService.svc/json" />
    <add key="VisionApi" value="http://eap-dev/Vision/VisionService.svc/json" />
    <add key="TokensApi" value="http://eap-dev/KeyVault/KeyVaultService.svc/json" />
    <add key="UserApi" value="http://eap-dev/UserManagement/UserManagementService.svc/json" />
    <add key="SMSApi" value="http://eap-dev/sms" />
    <add key="StepsAssemblyPathSystemProperty" value="Workflow.StepsAssemblyPath" />-->
    <add key="PasswordComplexityRegex" value="^(?:(?=.*[a-z])(?:(?=.*[A-Z])(?=.*[\d\W])|(?=.*\W)(?=.*\d))|(?=.*\W)(?=.*[A-Z])(?=.*\d)).{8,256}$" />
    <!--To be fetched from Access Token, post login step-->
    <add key="AuthenticatedUserId" value="58689BAEBBAD4FE5990B57FF5F1C353E" />
    <add key="AuthenticatedUserSponsorFileNumber" value="20120137018043" />
    <add key="NoOfRandomQuestions" value="2" />
    <add key="scopes" value="" />
    <!--<add key="authority" value="http://eap-dev/IdentityServer/core" />-->
    <add key="jwtTokenType" value="Hydrated" />
    <!--<add key="emClaimType" value="BID" />-->
    <add key="emClaimType" value="http://eap.emaratech.ae/claims" />
    <add key="profileClaim" value="http://eap.emaratech.ae/claims/profile" />
    <add key="permissionClaim" value="http://eap.emaratech.ae/claims/permissions" />
    <!-- document type id for profile image-->
    <add key="ProfileImageDocTypeId" value="31B6554E04BA44CCB5195AE7519B65F4" />
    <add key="ReportCategoryId" value="5B166CC8029540B09B022C6E0D8D535E" />
    <add key="SasReportTemplate" value="c:\SasReport\EmailTemplate.cshtml" />
    <add key="MappingMatrixAnonymousServices" value="6DC66A12AA214427A4C00CE4AD966C0B" />
    <add key="jwtTokenType" value="Hydrated" />
    <add key="validateAudience" value="false" />
    <add key="Print_eVisa_ApplicationStatuses" value="100, 130, 350, 390, 460, 470 " />
    <add key="Print_eVisa_EntryPermitApplicationType" value="1" />
    <add key="Print_eVisa_PermitStatuses" value="1, 2, 3, 4, 5, 9, 12, 14" />
    <add key="Print_eVisa_Permissions" value="PRINTVISA" />
    <add key="Print_eVisa_SponsoredPhotoDocId" value="F07DD31A5C834266AC5BA4C5AD79C3CF" />
    <add key="Print_PermitCancellation_Statuses" value="9" />
    <add key="Print_ResidenceCancellation_Statuses" value="4" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime maxQueryStringLength="2097151" targetFramework="4.6.1" executionTimeout="360000" />
  </system.web>
  <system.identityModel>
    <identityConfiguration>
      <claimsAuthorizationManager type="Emaratech.Services.Identity.Wcf.RPP.Claims.CustomClaimsAuthorizationManager, Emaratech.Services.Identity.Wcf.RPP" />
    </identityConfiguration>
  </system.identityModel>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="6553600" maxArrayLength="6553600" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webHttp" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="6553600" maxArrayLength="6553600" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
          <restHandler />
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="Emaratech.Services.Identity.Wcf.RPP.JwtAuthorizationPolicy, Emaratech.Services.Identity.Wcf.RPP" />
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint binding="basicHttpBinding" address="http://localhost/Channel/ChannelService.svc/soap" contract="Emaratech.Services.Channels.Contracts.Rest.IChannelService" name="ChannelService">
      </endpoint>
    </client>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Emaratech.Services.Channels.ChannelService">
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="Emaratech.Services.Channels.Contracts.Rest.IChannelService" />
        <endpoint address="json" binding="webHttpBinding" contract="Emaratech.Services.Channels.Contracts.Rest.IChannelService" bindingConfiguration="webHttp" />
        <endpoint address="soap/monitor" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="Emaratech.Services.WcfCommons.HealthCheck.IHealthCheck" />
        <endpoint address="json/monitor" binding="webHttpBinding" contract="Emaratech.Services.WcfCommons.HealthCheck.IHealthCheck" bindingConfiguration="webHttp" />
      </service>
      <service name="Emaratech.Services.Channels.ChannelServiceV2">
        <endpoint address="soap/v2" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="Emaratech.Services.Channels.Contracts.Rest.IChannelService" />
        <endpoint address="json/v2" binding="webHttpBinding" contract="Emaratech.Services.Channels.Contracts.Rest.IChannelService" bindingConfiguration="webHttp" />
        <endpoint address="soap/monitor/v2" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="Emaratech.Services.WcfCommons.HealthCheck.IHealthCheck" />
        <endpoint address="json/monitor/v2" binding="webHttpBinding" contract="Emaratech.Services.WcfCommons.HealthCheck.IHealthCheck" bindingConfiguration="webHttp" />
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="restHandler" type="Emaratech.Services.WcfCommons.Rest.RestServiceBehaviorExtension, Emaratech.Services.WcfCommons.Rest" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <handlers>
      <add name="NoqodiHandler" verb="*" path="payment.noq" type="Emaratech.Services.Channels.HandlerFactory,Emaratech.Services.Channels" resourceType="Unspecified" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="655360" maxUrl="655360" />
      </requestFiltering>
    </security>
    <httpCompression directory="D:\EAP-COMPRESS">
      <dynamicTypes>
        <add enabled="true" mimeType="application/json" />
      </dynamicTypes>
    </httpCompression>
  </system.webServer>
  <swaggerwcf>
    <tags>
      <tag name="LowPerformance" visible="false" />
    </tags>
    <settings>
      <setting name="BasePath" value="/Emaratech.Services.Channel/ChannelService.svc/json" />
      <setting name="InfoDescription" value="The echannel service" />
      <setting name="InfoVersion" value="0.0.1" />
      <setting name="InfoTermsOfService" value="" />
      <setting name="InfoTitle" value="Channel Service" />
      <setting name="InfoContactName" value="" />
      <setting name="InfoContactUrl" value="http://www.emaratech.ae" />
      <setting name="InfoContactEmail" value="ecore@emaratech.ae" />
      <setting name="InfoLicenseUrl" value="" />
      <setting name="InfoLicenseName" value="Emaratech" />
    </settings>
  </swaggerwcf>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.40306.1554" newVersion="1.0.40306.1554" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.40306.1554" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\EAP-LOGS\Channel\" />
      <datePattern value="'log'yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1MB" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <appender name="InfoLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\EAP-LOGS\Channel\" />
      <datePattern value="'info'yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1MB" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>
    <appender name="DebugLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\EAP-LOGS\Channel\" />
      <datePattern value="'debug'yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1MB" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="DEBUG" />
      </filter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="DebugLogFileAppender" />
      <appender-ref ref="InfoLogFileAppender" />
    </root>
  </log4net>
</configuration>