<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 
    <add key="BaseUri" value="http://eap-dev/" />
    <add key="SystemApi" value="http://eap-dev/Systems/SystemsService.svc/json" />
    <add key="DocumentApi" value="http://eap-dev/Document/DocumentService.svc/json" />
    <add key="MappingMatrixApi" value="http://eap-dev/MappingMatrix/MappingMatrixService.svc/json" />
    <add key="ServiceApi" value="http://eap-dev/Services/ServicesService.svc/json" />
    <add key="WorkflowApi" value="http://eap-dev/Workflows/WorkflowsService.svc/json" />
    <add key="VisionApi" value="http://eap-dev/Emaratech.Services.Vision/VisionService.svc/json" />
    <add key="TokensApi" value="http://eap-dev/KeyVault/KeyVaultService.svc/json" />
    <add key="UserApi" value="http://eap-dev/UserManagement/UserManagementService.svc/json" />
    <add key="SMSApi" value="http://eap-dev/sms" />
    <add key="ApplicationApi" value="http://localhost/Emaratech.Services.Application/ApplicationService.svc/json" />
    <add key="FormsApi" value="http://eap-dev/Forms/FormsService.svc/json" />
    <add key="DocumentApi" value="http://eap-dev/Document/DocumentService.svc/json" />
    <add key="LocalizationApi" value="http://eap-dev/Localization/LocalizationService.svc/json" />
    <add key="FeeApi" value="http://eap-dev/Fee/FeeService.svc/json" />
    <add key="SMSApi" value="http://eap-dev/SMS/SMSService.svc/json" />
    <add key="PaymentApi" value="http://eap-dev/Payments/PaymentService.svc/json" />
    <add key="DataContractsApi" value="http://eap-dev/DataContracts/DataContractService.svc/json" />
    <add key="LookupsApi" value="http://eap-dev/Lookups/LookupsService.svc/json" />
    <add key="VisionIntegration" value="http://eap-dev/VisionIntegration/VisionIntegrationService.svc/json" />
-->
    <add key="SystemApi" value="http://eap-dev/Systems/SystemsService.svc/json" />
    <add key="MappingMatrixApi" value="http://eap-dev/MappingMatrix/MappingMatrixService.svc/json" />
    <add key="LocalizationApi" value="http://eap-dev/Localization/LocalizationService.svc/json" />
    <add key="UserApi" value="http://eap-dev/UserManagement/UserManagementService.svc/json" />
    <add key="DataContractsApi" value="http://eap-dev/DataContracts/DataContractService.svc/json" />
    <add key="VisionApi" value="http://eap-dev/Emaratech.Services.Vision/VisionService.svc/json" />
    <add key="ApplicationApi" value="http://eap-dev/Application/ApplicationService.svc/json" />
    <add key="FormsApi" value="http://eap-dev/Forms/FormsService.svc/json/" />
    <add key="DocumentApi" value="http://eap-dev/Document/DocumentService.svc/json" />
    <add key="ServiceApi" value="http://eap-dev/Services/ServicesService.svc/json" />
    <add key="LookupsApi" value="http://eap-dev/lookups/LookupsService.svc/json" />
    <add key="FeeApi" value="http://eap-dev/Fee/FeeService.svc/json" />
    <add key="SMSApi" value="http://eap-dev/SMS/SMSService.svc/json" />
    <add key="PaymentApi" value="http://eap-dev/Payments/PaymentService.svc/json" />
    <add key="VisionIntegration" value="http://eap-dev/VisionIntegration/VisionIntegrationService.svc/json" />
    <add key="WorkflowApi" value="http://eap-dev/Workflows/WorkflowsService.svc/json" />
    <add key="TokensApi" value="http://eap-dev/KeyVault/KeyVaultService.svc/json" />
    <add key="EmailApi" value="http://eap-dev/Emaratech.Services.Email/EmailService.svc/json" />
    <add key="ZajelApi" value="http://eap-dev/Emaratech.Services.Zajel/ZajelService.svc/json" />
    <add key="LegalAdviceApi" value="https://stg-apis.emaratech.ae/v1/UChannel/legal" />
    <add key="PassportServicesApi" value="https://stg-apis.emaratech.ae/v1/UChannel/passport" />
    <add key="issuer" value="http://172.16.0.9/IdentityServer/core" />
    <add key="validateAudience" value="false" />
    <add key="validateIssuer" value="false" />
    <add key="APIKey" value="dgPtJbHbVQDsU6c9UALDSAsevEPPSLoX" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.40306.1554" newVersion="1.0.40306.1554" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.40306.1554" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>