<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="1.1.2" targetFramework="net461" />
  <package id="Emaratech.Services.Api.Client" version="1.0.13" targetFramework="net461" />
  <package id="Emaratech.Services.Common" version="1.0.19" targetFramework="net461" />
  <package id="Emaratech.Services.EntityStatus" version="1.0.7" targetFramework="net461" />
  <package id="Emaratech.Services.EntityStatus.Models" version="1.0.2" targetFramework="net461" />
  <package id="Emaratech.Services.WcfCommons.Cors" version="1.0.10" targetFramework="net461" />
  <package id="Emaratech.Services.WcfCommons.Faults" version="1.0.23" targetFramework="net461" />
  <package id="Emaratech.Services.Workflows.Engine" version="1.0.204" targetFramework="net461" />
  <package id="Emaratech.Services.Workflows.Engine.Core" version="1.0.4" targetFramework="net461" />
  <package id="Emaratech.Services.Zajel" version="1.0.26" targetFramework="net461" />
  <package id="ImpromptuInterface" version="6.2.2" targetFramework="net461" />
  <package id="IronPython" version="2.7.7" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net461" />
  <package id="Ninject.Extensions.Wcf" version="3.2.2.0" targetFramework="net461" />
  <package id="Ninject.Web.Common" version="3.2.0.0" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="SwaggerWcf" version="1.0.9" targetFramework="net461" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net461" />
</packages>