<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.2.0" targetFramework="net461" />
  <package id="Emaratech.Services.Api.Client" version="1.0.12" targetFramework="net461" />
  <package id="Emaratech.Services.Application" version="1.0.109" targetFramework="net461" />
  <package id="Emaratech.Services.WcfCommons.Faults" version="1.0.17" targetFramework="net461" />
  <package id="log4net" version="2.0.5" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="SwaggerWcf" version="1.0.9" targetFramework="net461" />
</packages>