<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\EAP-LOGS\eVisa\" />
      <datePattern value="'log'yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1MB" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="SponsoredPhotoDocId" value="F07DD31A5C834266AC5BA4C5AD79C3CF" />
    <add key="ApprovedStatusId" value="100,350" />
    <add key="RejectedStatusId" value="250,120,340" />
    <add key="FeesPaidStatusId" value="50,70" />
    <add key="ReportPath" value="C:\reports" />
    <add key="EntryPermitReportName" value="Visa_Visit.jasper" />
    <add key="ResidenceCancelReportName" value="ResidenceCancellation.jasper" />
    <add key="InstructionReportName" value="Visa_Instructions.jasper" />
    <add key="OnArrivalVisaExtensionReportName" value="OnArrival_Extension.jasper" />
    <add key="TemplateIdApprovedApplication" value="6B32A5FAEA6D4D4193A0D87EEF5BD56B" />
    <add key="TemplateIdEntryPermitNewRejectedApplication" value="9521BB740F304E8F98D76D800E3210AB" />
    <add key="TemplateIdEntryPermitNewCancelApplication" value="1C7E9ADCC7BC4B5BAAB9D2C7C36A3993" />
    <add key="TemplateIdApprovedResidence" value="F6757C486A525FC1AD5BA885928098TL" />
    <add key="TemplateIdRejectResidence" value="2722C36322364A8084173CF13318A711" />
    <add key="TemplateIdCancelResidence" value="B6757C486A524FC1AD5BA885929098FD" />
    <add key="TemplateIdRenewResidenceApproved" value="UX6FF8C443854F63B76ARTYUDA4C87ER" />
    <add key="TemplateIdRenewResidenceRejected" value="JAC7136D30754090A846BAE4C1471063" />
    <add key="TemplateIdEntryPermitPosted" value="8349BB740F304E8F98D76D800E32ER78" />
    <add key="TemplateOnArrivalVisaExtension" value="194D7EC74EFF40EC8D5C882D5AC83176"/>
    <add key="EntryPermitNewCategory" value="58F5CB451952496E809C997C5C574270" />
    <add key="EntryPermitCancelCategory" value="80C044D06B3947D792F32829C3653BEE" />
    <add key="ResidenceCancelCategory" value="5BF70296722248D9B407346749922C66" />
    <add key="ResidenceNewCategory" value="CDF6CD021B0941A18628E7A63F255830" />
    <add key="ResidenceRenewCategory" value="EB24F09385DF41CAB4F797926058FF43" />
    <add key="EntryPermitExtendCategory" value="F4F27C1E4B7246D29DEDF371562A5A1C" />
  </appSettings>
</configuration>