<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.2.1" targetFramework="net461" />
  <package id="Emaratech.Services.Api.Client" version="1.0.14" targetFramework="net461" />
  <package id="Emaratech.Services.Application" version="1.0.352" targetFramework="net461" />
  <package id="Emaratech.Services.Common" version="1.0.19" targetFramework="net461" />
  <package id="Emaratech.Services.Common.Caching" version="1.0.2" targetFramework="net461" />
  <package id="Emaratech.Services.DataContracts" version="1.0.54" targetFramework="net461" />
  <package id="Emaratech.Services.Document" version="1.0.65" targetFramework="net461" />
  <package id="Emaratech.Services.Email" version="1.0.41" targetFramework="net461" />
  <package id="Emaratech.Services.EntityStatus" version="1.0.7" targetFramework="net461" />
  <package id="Emaratech.Services.EntityStatus.Models" version="1.0.2" targetFramework="net461" />
  <package id="Emaratech.Services.Fee" version="1.0.42" targetFramework="net461" />
  <package id="Emaratech.Services.Forms" version="1.0.76" targetFramework="net461" />
  <package id="Emaratech.Services.Forms.Validation" version="1.0.3" targetFramework="net461" />
  <package id="Emaratech.Services.Localization" version="1.0.29" targetFramework="net461" />
  <package id="Emaratech.Services.Lookups" version="1.0.80" targetFramework="net461" />
  <package id="Emaratech.Services.MappingMatrix" version="1.0.125" targetFramework="net461" />
  <package id="Emaratech.Services.Payment" version="1.0.86" targetFramework="net461" />
  <package id="Emaratech.Services.Reporting.JasperReports" version="1.0.35" targetFramework="net461" />
  <package id="Emaratech.Services.Security.KeyVault" version="1.0.31" targetFramework="net461" />
  <package id="Emaratech.Services.Systems" version="1.0.115" targetFramework="net461" />
  <package id="Emaratech.Services.Systems.Properties" version="1.0.89" targetFramework="net461" />
  <package id="Emaratech.Services.Vision" version="1.0.302" targetFramework="net461" />
  <package id="Emaratech.Services.VisionIntegration" version="1.0.172" targetFramework="net461" />
  <package id="Emaratech.Services.WcfCommons.Cors" version="1.0.10" targetFramework="net461" />
  <package id="Emaratech.Services.WcfCommons.Faults" version="1.0.23" targetFramework="net461" />
  <package id="Emaratech.Services.Workflows.Engine" version="1.0.194" targetFramework="net461" />
  <package id="Emaratech.Services.Zajel" version="1.0.26" targetFramework="net461" />
  <package id="Emaratech.Utilities" version="1.0.8" targetFramework="net461" />
  <package id="ImpromptuInterface" version="6.2.2" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Razor" version="1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net461" />
  <package id="Ninject.Extensions.Wcf" version="3.2.2.0" targetFramework="net461" />
  <package id="Ninject.Web.Common" version="3.2.0.0" targetFramework="net461" />
  <package id="RazorEngine" version="4.4.3-rc1" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="SwaggerWcf" version="1.0.9" targetFramework="net461" />
</packages>